// Código de Nav acá
nav {
    background-color: rgb(218, 210, 210);
}
.menu-heading {
    text-align: center;
    padding-top: 0.5em;
    font-size: 6em;
}
.menu ul{
    list-style-type: none;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
 }
 .menu li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 1.5em;
 }
 .menu li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    text-decoration: none;
 }