h4 {
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight: bold;
    font-size:0.9em;
    margin-top:5px;
    color: grey;
    position: relative;
}

.contenedor {
    border: rgba(198, 194, 194, 0.706) solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 175px;
    position: relative;
    background-color: rgba(151, 227, 224, 0.185);
    border-style: 1px solid;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(138, 129, 129, 0.493);
}

.btn {
    width: min-content;
    height: min-content;
    background-color: rgba(255, 0, 0, 0.718);
    position:absolute;
    right: 5px;
    top: 5px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 9px;

}

.infoCont {
    display: flex;
    justify-content:space-around;
    margin-top: auto;
    margin-bottom: auto;
    
}

.tituloCard {
    position: absolute;
    justify-content:space-around;
    display: flex;
    flex-direction: row;
    width: 20px;
    padding-left: 10px;
    position: relative;
    align-items: center;
}
.tituloCard span {

    margin-left: auto;

}

.tituloCard img {
    height: 40%

}
.infoCont img {
    
    background-color: rgba(107, 99, 99, 0.265);
    border-radius: 5px;
    height: 40%;
}